<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Team | Alpins | Mountain And Trekking Template</title>
    <meta name="description" content="">
    <script src="themekit/scripts/jquery.min.js"></script>
    <script src="themekit/scripts/main.js"></script>
    <link rel="stylesheet" href="themekit/css/bootstrap-grid.css">
    <link rel="stylesheet" href="themekit/css/style.css">
    <link rel="stylesheet" href="themekit/css/glide.css">
    <link rel="stylesheet" href="themekit/css/magnific-popup.css">
    <link rel="stylesheet" href="themekit/css/content-box.css">
    <link rel="stylesheet" href="themekit/css/media-box.css">
    <link rel="stylesheet" href="themekit/css/contact-form.css">
    <link rel="stylesheet" href="skin.css">
    <link rel="icon" href="media/favicon.png">
</head>
<body class="page-main">
    <div id="preloader"></div>
    <nav class="menu-classic menu-fixed align-right" data-menu-anima="fade-in">
        <div class="container">
            <div class="menu-brand">
                <a href="index.html">
                    <img class="logo-default scroll-hide" src="media/LogoKaszub.png" alt="logo" />
                    <img class="logo-retina scroll-hide" src="media/LogoKaszub.png" alt="logo" />
                    <img class="logo-default scroll-show" src="media/LogoKaszub.png" alt="logo" />
                    <img class="logo-retina scroll-show" src="media/LogoKaszub.png" alt="logo" />
                </a>
            </div>
            <i class="menu-btn"></i>
            <div class="menu-cnt">
                <ul id="main-menu">
                    <li>
                        <a href="index.html">Główna</a>
                    </li>
                    <li class="dropdown">
                        <a href="#">Oferta</a>
                        <ul>
                            <li class="dropdown">
                                <li><a href="about.html">O firmie</a></li>
                                <li><a href="shelters.html">Pola namiotowe</a></li>
                                <li><a href="gallery.html">Galeria</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="rules.html">Regulamin</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="prices.html">Rezerwacja</a>
                    </li>
                    <li>
                        <a href="contacts.html">Kontakt</a>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <header class="header-image ken-burn-center light" data-parallax="true" data-natural-height="1080" data-natural-width="1920" data-bleed="0" data-image-src="media/statek.png" data-offset="0">
        <div class="container">
            <h1>Regulamin</h1>
            <h2>Zapoznaj się z zasadami</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">History</a></li>
            </ol>
        </div>
    </header>
    <main>
        <section class="section-base">
            <div class="container">
                <div class="row">
                    <ol>
                        <li>Pole namiotowe „Kaszub” zwane dalej "Polem "&nbsp; zlokalizowane w Dębkach przy ul. Łąkowej 5 jest miejscem letniego wypoczynku turystów zwanych dalej "Gościem".</li>
                        <li>Administracja Pola dostępna jest pod nr. tel.: <span style="color: #0000ff;">+48 668 283 043</span> i adresem e-mail: <span style="color: #0000ff;"><span id="cloak335862b5e2f301853fa2fcc3703c188a"><a href="mailto:kaszub@kpkspzoo.pl">kaszub@kpkspzoo.pl</a></span><script type="text/javascript">
                                        document.getElementById('cloak335862b5e2f301853fa2fcc3703c188a').innerHTML = '';
                                        var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                                        var path = 'hr' + 'ef' + '=';
                                        var addy335862b5e2f301853fa2fcc3703c188a = 'k&#97;sz&#117;b' + '&#64;';
                                        addy335862b5e2f301853fa2fcc3703c188a = addy335862b5e2f301853fa2fcc3703c188a + 'kpkspz&#111;&#111;' + '&#46;' + 'pl';
                                        var addy_text335862b5e2f301853fa2fcc3703c188a = 'k&#97;sz&#117;b' + '&#64;' + 'kpkspz&#111;&#111;' + '&#46;' + 'pl';document.getElementById('cloak335862b5e2f301853fa2fcc3703c188a').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy335862b5e2f301853fa2fcc3703c188a + '\'>'+addy_text335862b5e2f301853fa2fcc3703c188a+'<\/a>';
                                </script></span></li>
                        <li>Celem nadrzędnym jest spędzenie wolnego czasu na Polu namiotowym w sposób bezpieczny i satysfakcjonujący a postanowienia regulaminu pomogą w realizacji zadania.</li>
                        <li>Zarządcą Pola jest Krokowskie Przedsiębiorstwo Komunalne Sp. z o.o. z siedzibą w Żarnowcu 84-110 Krokowa, tel.: <span style="color: #0000ff;">+58 888 21 31</span>, e-mail.: <span style="color: #0000ff;"><span id="cloakf428a7dd8a58c759bab4cc8c2b8f6d4b"><a href="mailto:sekretariat@kpkspzoo.pl">sekretariat@kpkspzoo.pl</a></span><script type="text/javascript">
                                        document.getElementById('cloakf428a7dd8a58c759bab4cc8c2b8f6d4b').innerHTML = '';
                                        var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                                        var path = 'hr' + 'ef' + '=';
                                        var addyf428a7dd8a58c759bab4cc8c2b8f6d4b = 's&#101;kr&#101;t&#97;r&#105;&#97;t' + '&#64;';
                                        addyf428a7dd8a58c759bab4cc8c2b8f6d4b = addyf428a7dd8a58c759bab4cc8c2b8f6d4b + 'kpkspz&#111;&#111;' + '&#46;' + 'pl';
                                        var addy_textf428a7dd8a58c759bab4cc8c2b8f6d4b = 's&#101;kr&#101;t&#97;r&#105;&#97;t' + '&#64;' + 'kpkspz&#111;&#111;' + '&#46;' + 'pl';document.getElementById('cloakf428a7dd8a58c759bab4cc8c2b8f6d4b').innerHTML += '<a ' + path + '\'' + prefix + ':' + addyf428a7dd8a58c759bab4cc8c2b8f6d4b + '\'>'+addy_textf428a7dd8a58c759bab4cc8c2b8f6d4b+'<\/a>';
                                </script></span></li>
                        <li>Recepcja Pola czynna jest codziennie w godzinach od<span style="color: #ff0000;"> 8:00</span> do <span style="color: #ff0000;">20:00</span>, w godzinach tych Goście zobowiązani są do dokonania formalności meldunkowych oraz uregulowania należności za cały okres pobytu z góry w dniu przyjazdu.</li>
                        <li>Gość Pola meldując się w dniu przyjazdu otrzymuje przepustkę na samochód laminat karty pobytu, które zobowiązany jest bezwzględnie umieścić w miejscu widocznym na samochodzie, namiocie, kamperze, przyczepie, itp. celem weryfikacji przez administrację Pola.</li>
                        <li>Miejsce obozowania Gości wskazuje personel Pola namiotowego. Brak zgody na samodzielny dobór miejsca, ustawiania, przestawiania przyczepy, campera, namiotu oraz pojazdu według własnego uznania.</li>
                        <li>Doba pobytowa na Polu namiotowym rozpoczyna się o godz. <span style="color: #000000;">8:00</span> a kończy o godz,.<span style="color: #000000;"> 9:00</span> dnia następnego. Gość, który nie opuści do danej godz. stanowiska obozowania zostaje naliczona kolejna doba pobytowa według cennika Pola namiotowego.</li>
                        <li>Gość zobowiązany jest do uiszczenia opłaty klimatycznej zgodnie z obowiązującą stawką określoną Uchwałą Rady Gminy Krokowa.</li>
                        <li>W godz. od 20:00 do 21:00 istnieje możliwość wjazdu na Pole namiotowe po uprzednim zawiadomieniu tel. recepcji podając numer pojazdu, opłatę pobytową należy uiścić w recepcji do godz. 9:00 dnia następnego.</li>
                        <li>Przyjazdy lub wyjazdy Gości zameldowanych w godzinach nocnych należy uzgodnić w recepcji Pola.</li>
                        <li>Goście ustawiający przyczepę na okres sezonu 2024 r. zobligowani są do podpisania umowy w dniu przyjazdu oraz uiszczenia opłat według cennika.</li>
                        <li>Właściciele przyczep zimujących, których umowa kończy się dnia 30.06.2024 r. a którzy dalej pragną kontynuować pobyt zobligowani są do podpisania nowej umowy oraz wniesienia opłaty według cennika.</li>
                        <li>Pole nie świadczy usług parkowania dla osób niezameldowanych.</li>
                        <li>Niezaplanowany wyjazd z powodu: zmiany pogodowej, innych przyczyn okolicznościowych nie podlega zwrotu należności zgodnie z wystawioną kartą i opłaconym pobytem.</li>
                        <li>Cisza nocna obowiązuje od godz.<span style="color: #000000;"> 22:00</span> do 6:00, w godzinach tych zamknięta jest brama główna otwarte pozostają bramki wejściowe.</li>
                        <li>Doba pobytowa w domkach letniskowych trwa od godz. 15:00 do godz. 12:00 dnia następnego.</li>
                        <li>Gość domku letniskowego zobowiązany jest do zgłoszenia administracji Pola wszelkich usterek w dniu otrzymania dostępu do domków.</li>
                        <li>Goście domków letniskowych ponoszą odpowiedzialność materialną za wszelkiego rodzaju uszkodzenia, zgubienia, kradzieży lub zniszczenia przedmiotów i urządzeń technicznych powstałych z ich winy.</li>
                        <li>Obowiązuje całkowity zakaz palenia tytoniu w domkach.</li>
                        <li><span style="color: #ff0000;"><span style="color: #000000;">Zabrania się rozpalania ognisk, otwartych palenisk, ogradzania i wydzielania terenu, korzystania z jacuzzi, sauny oraz mycia samochodu.</span><br></span></li>
                        <li>Prysznice i umywalnie czynne są od godz. 6:00 do godz. 24:00 z możliwością zastosowania przerw technicznych na potrzeby utrzymania czystości, zabiegów sanitarnych oraz ciągłości ciepłej wody.</li>
                        <li>Na Polu mogą przebywać Goście osoby zameldowanej do godz. 22:00, przebywanie dłużej wymaga uiszczenia opłaty pobytowej. Parkowanie samochodu osoby odwiedzającej odbywa się wyłącznie na parkingu Pola i podlega opacie wg. cennika</li>
                        <li>Bezwzględny zakaz parkowania samochodu, przyczep i rozstawiania namiotów na Polu w obrębie dróg przeciwpożarowych.</li>
                        <li>Zmotoryzowani Goście poruszający się po terenie Pola zobowiązani są do zachowania szczególnej ostrożności oraz ograniczenia prędkości poruszania się do 15 km/h. obowiązek ten dotyczy również ruchu rowerowego, hulajnóg i innych pojazdów.</li>
                        <li>Na terenie Pola obowiązuje segregacja śmieci. Odpady należy umieszczać tylko do wyznaczonych i opisanych pojemników i worków.</li>
                        <li>Dzieci na terenie Pola znajdują się pod opieką rodziców lub osób, które są za nie bezpośrednio odpowiedzialne. Korzystanie przez dzieci z placu zabaw i sprzętów znajdujących się na Polu musi odbywać się pod nadzorem osób dorosłych. Administracja nie ponosi odpowiedzialności za dzieci pozostawione bez opieki.</li>
                        <li>zwierzęta mogą przebywać na Polu, a ich włąściciele zobowiązani są do: posiadania aktualnej książeczki szczepień, zapewnienia odpowiedniej opieki, tak aby nie zakłóciły spokoju, posiadania legowiska dla zwierząt, sprzątania nieczystości po swoich zwierzętach wyprowadzanie zwierząt&nbsp; wyłącznie na smyczy i kagańcu.</li>
                        <li>Podłoga, podest wykraczająca poza obręb przedsionka, namiotu, przyczepy, campera podlega opłacie równej za rozłożony przedsionek w zależności od jego wielkości.</li>
                        <li>Mycie naczyń i innych przedmiotów przez Gości Pola odbywać się może tylko i wyłącznie w wyznaczonym miejscu znajdującym się przy zmywalni naczyń.</li>
                        <li>Zabrania się mycia butów, naczyń w umywalniach ogólnodostępnych - pomieszczenia pryszniców i toalet.</li>
                        <li>Przed opuszczeniem Pola Gość zobowiązany jest do posprzątania miejsca, w którym przebywał.</li>
                        <li>Z urządzeń RTV należy korzystać w sposób niezakłócający spokój innym Gościom Pola.</li>
                        <li>Goście decydujący się na podłączenie do prądu powinni posiadać przewód o odpowiednich parametrach technicznych umożliwiający wykonanie podłączenia. Dla uzyskania możliwości podłączenia do prądu niezbędne jest posiadanie kabla 3-żyłowego w izolacji przeznaczonej do użytku zewnętrznego o średnicy nie mniejszej niż 1.5 mm2 a łączenia hermatycznie zamknięte. Maksymalny pobór mocy dla jednego przyłączenia wynosi 2.3 KW z zabezpieczeniu 10A w podstawowej opłacie cennikowej. Zapotrzebowanie na większą moc energii- drugie podłączenie do prądu, wymaga zgody Administracji Pola w zależności od technicznych możliwości w danym okresie pobytowym i podlega dodatkowej opłacie z godnie z cennikiem.</li>
                        <li>Za stan techniczny przedłużaczy Administracja Pola nie ponosi odpowiedzialności.</li>
                        <li>Administracja Pola w przypadku stwierdzenia realnego zagrożenia bezpieczeństwa Pola&nbsp; wyłączy wadliwy przewód energetyczny z zasilania, bez zwrotu za pobraną opłatę za korzystanie z energii, do czasu jego wymiany.</li>
                        <li>Administracja Pola nie ponosi odpowiedzialności finansowej za przedmioty wartościowe należące do Gości, np. pieniądze, biżuteria, sprzęt, itd. pozostawione w obiektach turystycznych&nbsp; ( przyczepy, namioty, campery, samochody, itp.).</li>
                        <li>W przypadku zniszczenia, uszkodzenia lub zagubienia powierzonego wyposażenia Pola, Gość ponosi odpowiedzialność za dokonana stratę.</li>
                        <li>Administracja Pola może odmówić pobytu na terenie Pola Gościom, którzy podczas poprzedniego pobytu rażąco naruszyli regulamin. Gościom będącym pod wpływem środków odurzających, zachowujących się agresywnie, w sposób powszechnie uznany za arogancki i wulgarny, którzy nie reagują na upomnienia Administracji&nbsp; bądź ochrony Pola oraz może odmówić wypoczynku Gościom, którzy nie stosują się do zaleceń Personelu odnośnie ustawienia, przestawienia przyczepy, campera, namiotu, pojazdu itp.</li>
                        <li>Naruszenie zasad niniejszego regulaminu oraz norm współżycia turystycznego upoważnia Administrację Pola do prawa usunięcia Gościa z terenu Pola bez zwrotu opłaconej należności za pobyt.</li>
                        <li>Pobyt na terenie Pola jest równoznaczny ze znajomością i akceptacją powyższego regulaminu a jego nie znajomość nie zwalnia z zasad jego przestrzegania.</li>
                        </ol>
                </div>
            </div>
        </section>
        <section class="section-base section-color">
            <div class="container">
                <center>
                <div class="title">
                    <h2>Rezerwacja</h2>
                    <p>‎</p><p>ㅤSkontaktuj się z nami lub zarezerwuj online</p><br>
                    <a href="#" class="btn btn-sm full-width-sm">Rezerwacja teraz</a>
                </div>
            </center>
            </div>
        </section>
    </main>
    <footer class="light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h3>Pole namiowoe "Kaszub"</h3>
                    <p>Położone w zachodzniej części Dębek około 50m do wejścia na plażę nr 21 licząc do granicy lasu i około 250m do Bałtyku</p>
                </div>
                <div class="col-lg-4">
                    <h3>Kontakty</h3>
                    <ul class="icon-list icon-line">
                        <li>Dębki,ul. Łąkowa 5,84-110 Krokowa</li>
                        <li><a href="contacts.html">Kaszuby@kpkspzoo.pl</a></li>
                        <li><a href="contacts.html">+48 668283043</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="icon-links icon-social icon-links-grid social-colors">
                        <a class="facebook"><i class="icon-facebook"></i></a>
                        <a class="twitter"><i class="icon-twitter"></i></a>
                        <a class="instagram"><i class="icon-instagram"></i></a>
                        <a class="google"><i class="icon-google"></i></a>
                    </div>
                    <hr class="space-sm" />
                    <p>Zobacz stronę obiektu 'Kaszubski Zakątek' w pobliskiej Białogórze.</p>
                </div>
            </div>
        </div>
        <div class="footer-bar">
            <div class="container">
                <span>© 2024 Krokowskie Przedsiębiorstwo Komunalne Sp.z o.o. wspierane przez ybook.pl. <a href="https://schiocco.com" target="_blank">schiocco.com</a>.</span>
                <span><a href="contacts.html">Skontaktuj się z nami</a> | <a href="#">Polityka prywatności</a></span>
            </div>
        </div>
        <link rel="stylesheet" href="themekit/media/icons/iconsmind/line-icons.min.css">
        <script src="themekit/scripts/parallax.min.js"></script>
        <script src="themekit/scripts/glide.min.js"></script>
        <script src="themekit/scripts/progress.js"></script>
        <script src="themekit/scripts/magnific-popup.min.js"></script>
        <script src="themekit/scripts/contact-form/contact-form.js"></script>
    </footer>
</body>
</html>